extends layout

include mixinAddFact

block content
  .container
    h4= title
    h5 But only useless facts.

    h6.sub-title You can add one
    +addFact()

  .container.facts
    h6.sub-title Or you can read the ones we have
    ul.list-group
      each fact in facts
        a(href=`/facts/${fact.uuid}`)
          li.list-group-item
            .row
              .col-8
                h4= fact.title
                p= fact.text
    if page > 1
      a.btn.btn-dark.pages(href=`/facts/page/${page-1}`) Prev
    if page < pages 
      a.btn.btn-dark.pages(href=`/facts/page/${parseFloat(page) + 1}`) Next
    p Page #{page} of #{pages} - #{count} total results